.admin {
  width: 100%;
  padding: 20px;

  .toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;

    .search-input {
      width: 30%;
    }
  }

  .list {
    margin-bottom: 20px;

    .more-dropdown {
      margin-left: 5px;
    }
  }
}
